<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mob_2d_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_2d_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{34,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_2d_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{68,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_logo_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{102,0},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common_atlas_img.png</string>
            <key>size</key>
            <string>{582,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5443ce6ef2aac46ef79975ea3ffae19c:4bce6f6aaff5f063a8149fd8b236501c:ea0086f88adb7a078e64ab94f1a453b5$</string>
            <key>textureFileName</key>
            <string>common_atlas_img.png</string>
        </dict>
    </dict>
</plist>
